:root {
  /* IMPORTANT: --container-default is used in CanvasTest.tsx. Don't change name */
  --container-default: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: var(--container-default);
  margin-right: var(--container-default);
}
